.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 48rem;
  z-index: 1000;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s ease-in-out;
}

.modal.active {
  transform: scaleY(1);
}

.detail-content {
  position: relative;
  width: 100%;
  padding: 2.5rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 1.6rem;
}

.detail-content__close-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

/* Style for the modal title */
.detail-content h2 {
  margin: 0 0 2rem 1rem;
  font-size: 2.4rem;
}

/* Style for the modal description */
.detail-description {
  line-height: 2.3rem;
  padding: 1.5rem 1rem;
  border-top: 0.5px solid #807575;
  border-bottom: 0.5px solid #807575;
}

.detail-description p {
  margin: 0;
}

.detail-toolSet h5 {
  margin: 1rem;
  margin-bottom: 0;
}

.detail-toolSet ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  padding: 1rem 0 1.5rem 1.5rem;
  border-bottom: 0.5px solid #807575;
  margin-bottom: 2rem;
}

.detail-toolSet ul li {
  font-size: 1.4rem;
}

/* Style for the links container */
.detail-content__actions {
  display: flex;
  gap: 1rem;
}

.detail-content__button {
  padding: 4px 8px;
  width: 16rem;
  background-color: var(--color-charcoal);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.detail-content__button:hover {
  background-color: #212020;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.8); /* Add a subtle box shadow on hover */
  border: 2px solid var(--color-rustic-red);
  font-weight: 600;
}

.detail-content__button:active {
  color: var(--color-rustic-red); /* Change text color on active */
  border: 3px solid var(--color-rustic-red);
}

@media screen and (min-width: 599px) {
  .modal {
    max-width: 50rem;
  }

  .detail-content {
    font-size: 1.8rem;
  }

  .detail-description {
    line-height: 2.5rem;
    padding: 2rem 1.5rem;
  }

  .detail-toolSet ul {
    padding: 1rem 1rem 1rem 2rem;
  }

  .detail-toolSet ul li {
    font-size: 1.5rem;
  }

  .detail-content__actions {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 899px) {
  .modal {
    max-width: 60rem;
  }

  .modal h2 {
    font-size: 2.6rem;
  }

  .detail-toolSet h5 {
    margin-left: 2rem;
  }

  .detail-toolSet ul {
    padding-left: 3rem;
  }
}
