.aboutProfile {
  min-width: 45%;
  text-align: center;
}

.aboutProfileImage {
  border: 0.1px solid rgb(82, 78, 78);
  width: 75%;
  max-width: 30rem;
  border-radius: 48% 48% 0 0;
}

.aboutProfile .name {
  font-size: 2.6rem;
}

.aboutProfile .profession {
  font-size: 1.4rem;
  margin-top: -1rem;
  margin-bottom: 3rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* .socialIcons {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: 3rem;
} */

/* .githubLink,
.linkedinLink {
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
} */

/* .githubLink:hover,
.linkedinLink:hover {
  transform: scale(1.2); 
  border-bottom: 2px solid var(--color-rustic-red);
} */

@media (min-width: 500px) {
  .aboutProfile .name {
    font-size: 3rem;
  }
}

@media (min-width: 850px) {
  .aboutProfile {
    min-width: 42%;
    padding-top: 4rem;
  }

  .aboutProfileImage {
    width: 80%;
  }

  .aboutProfile .profession {
    font-size: 1.6rem;
  }
}

@media (min-width: 1150px) {
  .aboutProfile {
    min-width: 40%;
  }

  .aboutProfile .name {
    letter-spacing: 0.8px;
  }

  /* .githubLink,
  .linkedinLink {
    font-size: 3.5rem;
  } */
}
