.button {
  padding: 6px 12px; /* Set padding inside the button */
  width: 75%; /* Set the width of the button to 75% */
  max-width: 25rem; /* Limit the maximum width of the button to 25rem */
  margin: auto; /* Center the button horizontally */
  background-color: #ede8e8; /* Set the background color of the button */
  color: #030303; /* Set the text color of the button */
  text-decoration: none; /* Remove default link underline */
  border-radius: 6px; /* Apply rounded corners with a border radius of 6px */
  cursor: pointer; /* Change cursor to pointer on hover */
  border: 1px solid var(--color-rustic-red);
}

.button:hover {
  background-color: #1a1a1a; /* Change background color on hover */
  color: #ede8e8; /* Change text color on hover */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow on hover */
  border: 2px solid var(--color-rustic-red);
}

.button:active {
  color: var(--color-rustic-red); /* Change text color on button click */
  border: 3px solid var(--color-rustic-red);
}
