.modal {
  width: 80%;
  max-width: 60rem;
  position: fixed;
  top: 25vh !important;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
}

.modal__header {
  position: relative;
  width: 100%;
  padding: 1rem 0.5rem;
  color: white;
  border-radius: 8px 8px 0 0;
}

.modal__header h2 {
  margin: 0.5rem;
  font-size: 2.4rem;
}

.modal__content {
  padding: 2rem 0.5rem;
  font-size: 18px;
}

.modal__footer {
  background-color: #292929;
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 20px;
  margin-top: 0;
  border-radius: 0 0 8px 8px;
}

.modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}

@media (max-width: 500px) {
  .modal {
    top: 8vh;
  }
}
