#about {
  max-width: 100vw;
  display: flex; /* Flex container for the 'about' section */
  flex-direction: column; /* Organize contents in a column */
  background-color: var(
    --color-charcoal
  ); /* Background color using a CSS variable */
  color: #fff; /* Text color */
  padding: 8rem 1rem; /* Padding for the content */
  margin-top: 61px;
  font-size: 1.6rem; /* Font size for text */
}

.about-content {
  display: flex; /* Flex container for the content within 'about' section */
  flex-direction: column; /* Organize contents in a column */
  gap: 2rem; /* Spacing between elements */
}

/* Media Query for screens larger than 850px */
@media (min-width: 850px) {
  #about {
    border-radius: 4px; /* Rounded border for larger screens */
  }

  .about-content {
    flex-direction: row; /* Organize contents in a row */
    align-items: flex-start; /* Align items to the top */
  }
}
