#about {
  display: flex;
  flex-direction: column;
  background-color: var(--color-charcoal);
  color: #fff;
  padding: 4rem 1rem;
  font-size: 1.6rem;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 850px) {
  #about {
    border-radius: 4px;
  }

  .about-content {
    flex-direction: row;
    align-items: flex-start;
  }
}
