/* Set minimum width and center align about profile */
.aboutProfile {
  min-width: 45%;
  text-align: center;
}

/* Styling for the about profile image */
.aboutProfileImage {
  border: 0.1px solid rgb(114, 111, 111);
  width: 75%; /* Set width for the profile image */
  height: 280px;
  max-width: 30rem; /* Maximum width for the profile image */
  border-radius: 60% 60% 0 0; /* Applying a specific border radius to shape the image */
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.2) 30%,
    rgb(27, 27, 27) 80%
  );
}

/* Styling for the name within the about profile */
.aboutProfile .name {
  font-size: 2.6rem; /* Font size for the name within the about profile */
}

/* Styling for the profession within the about profile */
.aboutProfile .profession {
  font-size: 1.4rem; /* Font size for the profession within the about profile */
  margin-top: -1rem; /* Margin adjustment at the top */
  margin-bottom: 3rem; /* Margin adjustment at the bottom */
}

/* Styling for the buttons within the about profile */
.buttons {
  display: flex; /* Displays buttons in a flex container */
  flex-direction: column; /* Aligns buttons in a column */
  gap: 2rem; /* Spacing between buttons */
}

/* Media query for screens larger than 500px */
@media (min-width: 500px) {
  .aboutProfile .name {
    font-size: 3rem; /* Increases font size of the name for larger screens */
  }
}

/* Media query for screens larger than 850px */
@media (min-width: 850px) {
  .aboutProfile {
    min-width: 42%; /* Adjusts minimum width of the about profile */
    padding-top: 4rem; /* Padding added at the top */
  }

  .aboutProfileImage {
    width: 80%; /* Adjusted width for the profile image on larger screens */
  }

  .aboutProfile .profession {
    font-size: 1.6rem; /* Adjusted font size for profession on larger screens */
  }
}

/* Media query for screens larger than 1150px */
@media (min-width: 1150px) {
  .aboutProfile {
    min-width: 40%; /* Further adjusts the minimum width of the about profile */
  }

  .aboutProfile .name {
    letter-spacing: 0.8px; /* Adds letter-spacing to the name on larger screens */
  }
}
