#contact {
  background-color: var(--color-charcoal);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 3rem 0;
  color: #fff;
}

/* Media Queries for Responsive Design */
@media (min-width: 768px) {
  #contact {
    flex-direction: row;
    padding: 6rem 2rem;
  }
}

@media (min-width: 1200px) {
  #contact {
    border-radius: 6px;
  }
}
