.contactInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem; /* Display as a flex column layout with margin bottom */
}

.address {
  font-size: 1.6rem; /* Set font size for the address */
  display: flex; /* Display address content as a flex column layout */
  flex-direction: column; /* Align items in a column */
  gap: 1rem; /* Set the gap between items */
}

.email {
  color: #fff; /* Set text color to white for better visibility */
  text-decoration: none; /* Remove default hyperlink underline */
}

/* Media Queries for Responsive Design */
@media (min-width: 768px) {
  .contactInfo {
    width: 35%; /* Set width to 35% of the container */
    margin: auto; /* Center the contact info by adding margin */
  }
}
