/* Basic styles for the header and navigation (Mobile-first) */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  padding: 1rem 1.5rem;
  background-color: var(--color-charcoal);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  letter-spacing: 1px;
  z-index: 999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo img {
  max-width: 4.5rem;
  height: auto;
  margin-top: 0.5rem;
}

.menuButton {
  display: block; /* Display the menu button on smaller screens */
  cursor: pointer;
  background: transparent;
  border: none;
}

.menuButton.open .bar {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menuButton.open .bar:nth-child(2) {
  opacity: 0;
}

.menuButton.open .bar:last-child {
  transform: rotate(45deg) translate(-5px, -6px);
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: 0.4s;
}

/* Media query for larger screens (Desktop styles) */
@media (min-width: 769px) {
  header {
    font-size: 1.8rem;
  }

  .menuButton {
    display: none; /* Hide the menu button on larger screens */
  }
}
