/* MyWork.css */
#projects {
  text-align: center;
  padding-top: 2rem;
}

.show-more-button {
  font-size: 1.4rem;
  background-color: transparent;
  border: none;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.show-more-label {
  display: block;
  margin-bottom: 0.5rem;
  letter-spacing: 0.5px;
}

.scroll-down-icon {
  font-size: 1.8rem;
}

.show-more-button:hover {
  font-size: 1.6rem;
}

.scroll-down-icon:hover {
  font-size: 2rem;
}
