/* MyWork.css */

#projects {
  text-align: center; /* Center-align text within the projects section */
  padding-top: 6rem; /* Add padding at the top of the projects section */
  margin-top: 90px;
}

.more-projects-visit {
  font-size: 1.4rem;
  margin: 3rem 1rem;
}

.more-projects-visit a {
  /* margin: 1rem; */
  margin: 0.8rem;
  color: #000;
  cursor: pointer;
  text-decoration-color: var(--color-rustic-red);
}

.more-projects-visit a:hover {
  font-weight: 600;
}

.show-more-button {
  font-size: 1.4rem; /* Set the font size for the show more/less button */
  background-color: transparent; /* Set the background of the button as transparent */
  border: none; /* Remove button border */
  margin-bottom: 0.5rem; /* Add margin at the bottom of the button */
  cursor: pointer; /* Set cursor as pointer on hover */
  color: var(
    --color-charcoal
  ); /* Set text color using a custom color variable */
}

.show-more-label {
  display: block; /* Display the show more/less label as a block element */
  margin-bottom: 0.5rem; /* Add margin at the bottom of the label */
  letter-spacing: 0.5px; /* Set letter spacing for the label text */
}

.scroll-down-icon {
  font-size: 1.8rem; /* Set the font size for the scroll-down icon */
}

.show-more-button:hover {
  font-size: 1.6rem; /* Change font size of the button on hover */
}

.scroll-down-icon:hover {
  font-size: 2rem; /* Change font size of the scroll-down icon on hover */
}

@media screen and (min-width: 590px) {
  .more-projects-visit {
    font-size: 1.6rem;
  }
}
