#about {
  background-color: var(--color-charcoal);
  height: 700px;
  color: #fff;
}

#projects {
  height: 700px;
}

#contact {
  background-color: var(--color-charcoal);
  height: 700px;
  color: #fff;
}
