#about-me {
  background-color: var(--color-charcoal);
  height: 700px;
  color: #fff;
}

#my-work {
  height: 700px;
}

#contact-me {
  background-color: var(--color-charcoal);
  height: 700px;
  color: #fff;
}
