/* Style for the content inside the modal */
.detail-content {
  font-size: 1.6rem;
}

.detail-content__close-icon {
  position: absolute;
  top: 15px;
  right: 12px;
  cursor: pointer;
}

/* Style for the modal description */
.detail-description {
  line-height: 2.4rem;
  padding: 2rem 1rem;
  border-bottom: 0.5px solid #807575;
  margin-bottom: 20px;
}

.detail-description p {
  margin: 0;
}

.detail-toolSet h5 {
  margin: 10px;
}

.detail-toolSet ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  padding: 1.5rem;
  margin-bottom: -10px;
}

.detail-toolSet ul li {
  font-size: 1.5rem;
}

.detail-content__button {
  padding: 4px 6px;
  width: 14rem;
  background-color: white;
  font-weight: 600;
  text-align: center;
  font-size: 16px;
}

.detail-content__button:hover {
  background-color: #212020;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.8);
  border: 2px solid var(--color-rustic-red);
  font-weight: 600;
}

.detail-content__button:active {
  color: var(--color-rustic-red);
  border: 3px solid var(--color-rustic-red);
}

/* Media queries for different screen sizes */
@media screen and (min-width: 599px) {
  .detail-content {
    font-size: 1.8rem;
  }

  .detail-description {
    line-height: 2.6rem;
    padding: 2rem 1.5rem;
  }

  .detail-toolSet ul {
    padding: 1rem 1rem 1rem 2rem;
  }

  .detail-toolSet ul li {
    font-size: 1.5rem;
  }

  .detail-content__actions {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 899px) {
  .detail-toolSet h5 {
    margin-left: 2rem;
  }

  .detail-toolSet ul {
    padding-left: 3rem;
  }
}
